@charset "UTF-8";
/* CSS Document */



body {
	position: relative;
	background: #ffffff;
	font-size: 14px;
	font-family: 'Helvetica Neue', Helvetica, Arial, YuGothic, 'Yu Gothic', 游ゴシック体, '游ゴシック', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'MS ゴシック', 'MS Gothic', sans-serif;
	text-align: justify;
	text-justify: inter-ideograph;
	-webkit-text-size-adjust: 100%;
	color: #000000;
	-webkit-font-smoothing: antialiased;
}

a:hover {
  margin: 0;
  padding: 0;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
ul {
  list-style: none;
}

.title {
	text-align:center;
	display: block;
    line-height: 1;
}
.title span {
color:  #ffd61a;
font-size: 21px;
}

.title p+p {
	margin-top:20px;
}
.inner {
	position: relative;
    width: 960px;
    margin: 0 auto;
}

#entry {
	margin:0 auto;
	min-width:960px;
}
#entry .title {
	display:table;
	margin:0 auto;
	height:180px;
	min-width:960px;
	width:100%;
	background-color: #ffd61a;
}
#entry .title span {
	color:#000000;
}
#entry h2 {
	display:table-cell;
	vertical-align:middle;
}
#entry h2 p+p {
	color:#FFFFFF;
}
#entry .inner {
	width:auto;
	padding:60px 0;
}
#entry ul {
	width:600px;
	margin:0 auto;
	text-align:center;
}
#entry li {
	text-align:left;
	margin:15px 10px;
}
#entry label {
    margin: 0 10px;
	width:130px;
    float: left;
} 

#entry input[type=text] {
	margin-left: 10px;
	width:170px;
	height:16px;
}
#entry input[type=radio] {
	margin-left: 10px;
	margin-right:16px;
	width:11px;
	height:11px;
}
#entry select {
	width:220px;
    margin-left: 10px;
}
#entry input[type=submit] {
	border:none;
	margin:100px auto 0 auto;
	width:400px;
	height:90px;
	background:url(../img/btn-entry.png) no-repeat;
}
#entry input[type=submit]:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
}